html {
    background-color: #FFE500;
    text-decoration-color: black;
    font-family: "Arial Black", Gadget, sans-serif;
}

body {
    font-family: Ubuntu, sans-serif;
}

h1 {
	font-family: "Ubuntu";
	font-size: 50px;
    color: black;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    text-align: center;
    font-weight: bold
}

h2  {
	font-family: "Ubuntu";
	font-size: 35px;
    color: black;
	font-style: italic;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    text-align: center;
    font-weight: lighter
}
h3 {
	font-family: "Ubuntu";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: "Ubuntu";
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
    color: black;
}
blockquote {
	font-family: "Ubuntu";
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: "Ubuntu";
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

  ul {
            margin: 0;
            padding: 5px;
            list-style-type: none;
            text-align: center;
            background-color: black;
        }
        
 ul li {
            display: inline;
        }
        
 ul li a {
            text-decoration: none;
            padding: .2em 1em;
            color: #FFE500;
            background-color: black;
        }
        
 ul li a:hover {
            color: black;
            background-color: black;
        }

hr {
width: 100%;
height: 20px;
margin-left: auto;
margin-right: auto;
background-color:black;
color:black;
border: 0 none;
margin-top: 7px;
margin-bottom:5px;
}

#wrapper { 
    width: 920px; 
    height: auto; 
    margin: 0 auto;
} 
#home1 { 
    width: 47.5%; 
    height: 300px; 
    float: left; 
    margin-right: 5%;
} 

#home2 { 
    width: 47.5%; 
    height: 300px; 
    float: left; 
}

#home3 {
       width: 47.5%; 
    height: 300px; 
    float: left; 
    margin-right: 5%;
}

#home4 { 
    width: 47.5%; 
    height: 300px; 
    float: left; 
}


.clear{
    clear: both;
}

@media (max-width:767px) {
    #wrapper{
        width: 100%;
        height: auto;
    }
    #home1 {
        width: 100%;
        height: auto;
        float: none;
    }
    #home2 {
        width: 100%;
        height: auto;
        float: none;
    }
}
